body{
  margin:0px;
  padding:0px;
  background:#fff;
  color:#000000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

header {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  height: 60x;
  position: fixed;
  display: block;
  top: 0;
  background-color: #2fa4e7;
  color: #fff;
}

#site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: #fff;
}
#site-description {
  float: right;
  padding-top: 15px;
}
#site-wrapper {
  max-width: 1200px;
  min-width: 650px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}
#site-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
#wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
#wrapper:after {
  content: "";
  display: table;
  clear: both;
}

#content{
  margin-left: 200px;
  padding-top: 40px;
}

.content-title{
  text-align: center;
  font-size: 200%;
  margin-bottom: 25px;
}

#sideBar{
  position: fixed!important;
  z-index:1;
  width: 200px;
  height: 100%;
  padding-top: 40px;
  background-color: #fff;
}
#sideBar ul{
    margin:0px 0px 0px 0px;
    padding:0px;
    list-style-type:none;
    font-size:95%;
}
#sideBar li{
    margin:0px 0px 0px 10px;
    padding:0px 0px 0px 0px;
    list-style-type:none;
    font-size:95%;
}
#sideBar li a{
    margin:0px 0px 0px 10px;
    width:100%;
    border:none;
    color:#999999;
    text-decoration:none;
}
#sideBar li a:link{
    color:black;
}
#sideBar li a:visited{
    color:black;
}
#sideBar li a:hover{
    color:#0069B3;
    text-decoration:none;
}

a{
    color:#777777;
    text-decoration:none;
}
a:hover{
    color:#0069B3;
}

h2{
  color:#0069B3;
  font-weight:bold;
  font-family:Verdana,Sans-Serif;
}
h3{
    margin:20px 0px 10px 0px;
    color:#777777;
    font-size:105%;
}
.container {
  max-width: 1000px;
  min-width: 650px;  
}
.container, .container tr, .container td{
  vertical-align: middle;
  font-size: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}
.print_only, .hidden{
    display:none;
}

/* ctable and tablesorter */
.ctable {
  font: 12px/18px "Trebuchet MS",Trebuchet,Verdana,Sans-Serif;
  border-collapse:collapse;
  border-spacing:0;
  border:1px solid #000000;
  padding:2px;
  margin: 20px auto;
}
.ctable td {
  border:1px dotted #E5E5E5;
}
.ctable th {
  background-color:#ddd;
  padding-left:4px;
  padding-right:4px;
}
.ctable tr:hover {
  background-color: #2fa4e744;
}
.tablesorter-default .header,.tablesorter-default .tablesorter-header {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
  background-position:center right;
  background-repeat:no-repeat;
  cursor:pointer;
  padding:4px 20px 4px 4px
}
.tablesorter-default thead .headerSortUp,.tablesorter-default thead .tablesorter-headerAsc,.tablesorter-default thead .tablesorter-headerSortUp {
  background-image:url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter-default thead .headerSortDown,.tablesorter-default thead .tablesorter-headerDesc,.tablesorter-default thead .tablesorter-headerSortDown {
  background-image:url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

/* Download button */
.download {
  background-color: #2fa4e7;
  border-color: #2fa4e7;
  border-style: solid;
  color: #fff;
  padding: 16px;
  border-style: solid;
  border-radius: 1rem;
  font-size: 16px;
  margin: 15px auto;
  text-align: center;
}
.download:hover {
  background-color: #fff;
  color: #2fa4e7;
  fill: #fff
}
.download i {
  margin-right: 10px;
}

/* Other */
iframe {
  border: none;
}
.subheading {
  font-size: 150%;
  font-weight: bold;
}
img {
  display: block;
  margin: 0px auto;
}
