<div id="sideBar">
  <ul><h3>No threshold</h3>
    <li><b>Vector</b>
    <li><a href="vector-ss.html">Small-small</a></li>
    <li><a href="vector-bs.html">Big-small</a></li>
    <li>
    <li><b>Baits</b>
    <li><a href="rab5.html"> Rab5</a></li>
    <li><a href="diUb1.html"> diUb1</a></li>
    <li><a href="diUb2.html"> diUb2</a></li>
    <li><a href="di4spUb.html"> di4spUb</a></li>
    <li><a href="ub.html"> Ubiquitin summary</a></li>
  </ul>
  
  <ul><h3>3 PPM threshold</h3>
    <li><b>Vector</b>
    <li><a href="vector-ss-3.html">Small-small</a></li>
    <li><a href="vector-bs-3.html">Big-small</a></li>
    <li>
    <li><b>Baits</b>
    <li><a href="rab5-3.html"> Rab5</a></li>
    <li><a href="diUb1-3.html"> diUb1</a></li>
    <li><a href="diUb2-3.html"> diUb2</a></li>
    <li><a href="di4spUb-3.html"> di4spUb</a></li>
    <li><a href="ub-3.html"> Ubiquitin summary</a></li>
  </ul>

  <ul><h3>50 PPM threshold</h3>
    <li><b>Vector</b>
    <li><a href="vector-ss-50.html">Small-small</a></li>
    <li><a href="vector-bs-50.html">Big-small</a></li>
    <li>
    <li><b>Baits</b>
    <li><a href="rab5-50.html"> Rab5</a></li>
    <li><a href="diUb1-50.html"> diUb1</a></li>
    <li><a href="diUb2-50.html"> diUb2</a></li>
    <li><a href="di4spUb-50.html"> di4spUb</a></li>
    <li><a href="ub-50.html"> Ubiquitin summary</a></li>
  </ul>

  <ul><h3>Other</h3>
      <li><a href="rab5hypo.html"> Rab5 (hypothetical)</a></li>
  </ul>

</div>
